@font-face {
  font-family: 'Inter';
  src: url('../../public/fonts/Inter/static/Inter-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../../public/fonts/Inter/static/Inter-Bold.ttf');
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: 'Inter';
  src: url('../../public/fonts/Inter/static/Inter-Medium.ttf');
  font-weight: 500;
  font-style: medium;
}
@font-face {
  font-family: 'Inter';
  src: url('../../public/fonts/Inter/static/Inter-Light.ttf');
  font-weight: 300;
  font-style: light;
}
@font-face {
  font-family: 'Inter';
  src: url('../../public/fonts/Inter/static/Inter-Thin.ttf');
  font-weight: 100;
  font-style: thin;
}

@font-face {
  font-family: 'Caviar Dreams';
  src: url('../../public/fonts/CaviarDreams/CaviarDreams.ttf');
  src: url('../../public/fonts/CaviarDreams/CaviarDreams_Bold.ttf');
  font-weight: 400;
  font-style: normal;
}

html {
  font-family: 'Inter';
}

h1 {
  font-family: 'Caviar Dreams';
  font-weight: 700;
  font-size: 4rem;
  color: white;
  line-height: 5rem;
  letter-spacing: 0.1rem;

  @media (min-width: 1280px) {
    font-size: 4.4rem;
    line-height: 5rem;
  }
}

h3 {
  font-family: 'Inter';
  font-weight: 700;
  color: $gold;
  text-transform: uppercase;
}

h2 {
  font-family: 'Caviar Dreams';
  font-size: 3rem;
  color: white;
  line-height: 3.5rem;
}

p {
  font-family: 'Inter';
  color: white;
}
